<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.guidemeguidesapp">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/guideme_guidesicon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GuideMeGuidesApp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".views.profileview.EditProfileActivity"
            android:exported="false"
            android:label="@string/title_activity_edit_profile"
            android:theme="@style/Theme.GuideMeGuidesApp.NoActionBar" />
        <activity
            android:name=".views.profileview.ProfileActivity"
            android:exported="false"
            android:label="@string/title_activity_profile"
            android:theme="@style/Theme.GuideMeGuidesApp.NoActionBar" />
        <activity
            android:name=".views.reservationdetails.ReservationDetailsActivity"
            android:exported="false"
            android:label="@string/title_activity_reservation_details"
            android:theme="@style/Theme.GuideMeGuidesApp.NoActionBar" />
        <activity
            android:name=".views.reservations.ReservationsActivity"
            android:exported="false"
            android:label="@string/title_activity_reservations"
            android:theme="@style/Theme.GuideMeGuidesApp.NoActionBar" />
        <activity
            android:name=".views.homescreen.HomescreenActivity"
            android:exported="false"
            android:label="@string/title_activity_homescreen"
            android:theme="@style/Theme.GuideMeGuidesApp.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".views.loginView.LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.GuideMeGuidesApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.GuideMeGuidesApp.NoActionBar" />
        <activity
            android:name=".views.chatView.ChatActivity"
            android:exported="true"
            android:label="@string/title_activity_chat"
            android:theme="@style/Theme.GuideMeGuidesApp.NoActionBar" />
    </application>

</manifest>